* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

/*landing page*/

.container {
	padding: 15px;
	background-color: rgba(242, 249, 184, .2);
}

#jumbo-land {
	height: 100vh;
	background-color: #333; /*off black*/
	background-image: url(https://joyofapple.com/wp-content/uploads/2018/08/Beach-Featured.jpg);
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;
	padding-top: 15%;
	border-radius: 0; /*to remove rounder corners*/
}

.nav-link {
	font-family: 'Acme', sans-serif;
}

.navbar-brand {
	font-family: 'Acme', sans-serif;
}

.jumbotron h1 {
	font-family: 'Acme', sans-serif;
	color: #333; /*off white*/
}

.jumbotron p {
	font-family: 'Acme', sans-serif;
	color: #333;
}

.jumbotron hr {
	background-color: #fff; /*white*/
}

.btn a {
	text-decoration: none;
	color: #fff;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*end of landing page*/

/*home page*/

#home-landing {
	height: 90vh;
	background-image: url(../images/bird.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Acme', sans-serif;
	letter-spacing: 10px;
	color: #B5446E;
	padding: 20%;
}


div h1 {
	font-family: 'Acme', sans-serif;
	color: #333;
}

.carousel-home {
	height: 80vh;
}

#carousel-home img{
	height: 70vh;
	max-height: 70vh;
}

/*.card {
	height: 50vh;
	max-height: 50vh;
}*/

/*about page*/

#jumbotron-about {
	background-image: url(../images/team.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	color: #333;
	font-size: 5em; /*1em=16px*/
	letter-spacing: 30px;
	font-family: 'Sree Krushnadevaraya', serif;
	padding-top: 20vh;
}

#mission {
	height: 100vh;
/*	background-image: url(../images/mission.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: bottom;*/
	background-color: #333;
	/*color: #f2f2f2; off white*/
	color: #f2f2f2;
}

#vision {
	height: 100%;
/*	background-image: url(../images/vision.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: bottom;*/
	background-color: #f2f2f2;
	color: #141414;
}

.about-tags {
	font-weight: bold;
	font-family: 'Acme', sans-serif;
}

.text-justify {
	font-family: 'Acme', sans-serif;
}

.col-md-6 {
	position: center;
}

/*start of gallery*/
#head-gall {
	margin-top: 4.3%;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	background-color: #C0C0C0;
	color: white;
	border-bottom: 3px solid black;
	border-bottom-right-radius: 30px;
}

.active {
	/*background-color: #141414;*/
	border-bottom: 3px solid black;
}

#gallery-items .card {
	height::400px;
	width: 100%;
	margin: 5px;
}

#gallery-items img {
	height: 250px;
	/*margin-bottom: 10px;*/
}

.places {
	font-family: 'Sree Krushnadevaraya', serif;
	color: #333;
	font-weight: bold;
	font-size: 1.5em;
	background-color: #C0C0C0;
	margin: 3.5px;
	margin-left: 15px;
	border-bottom: 3px solid black;
	border-top-left-radius: 30px;
}

.choices {
	font-family: 'Acme', sans-serif;
	color: #333;
	font-weight: bold;
	font-size: 1.5em;
	margin: center;
	margin-left: 40px;
}

#gallery-title {
	color: #333;
}


@media only screen and (max-width: 400px) {
	.jumboland {
		padding: auto;
	}
}

@media only screen and (min-width: 901px) and (max-width: 960px) {
	.jumboland {
		padding: auto;
	}
}

@media only screen and (min-width: 961px) {

}